<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Web Pages Demo</title>
</head>
<body>
    <p>This is header text</p>
    @RenderBody()
    <p>&copy; 2014 W3Schools. All rights reserved.</p>
</body>
</html>