body {
	background: #FFF1D6 url(../images/noise.png);
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Sans-serif; /* Ordem de utilização das fonts*/
	line-height: 1.6; /* Taxa de tamanho da linha, como não tem nenhuma unidade de medida, a linha sempre será 1.6 do tamanho da font */
}

h1 a { color: #7E9F19; text-decoration: none; }

h1 a:hover { background-color: #7E9F19;	color: #FFF; }

.container { margin: 0 auto; width: 960px; }

section { float: left; width: 660px; }

article { background-color: #FFF; border-color: #CCC #999 #999 #CCC; border: 1px solid #CCC; margin-bottom: 20px; padding: 10px; }
article h2 {	border-bottom: 1px dashed #7E9F19; margin: 0; }
article a {color: #2C88A7; font-weight: bold; }
article img { border: 1px solid #7E9F19; float: left; margin: 10px 10px 0 0;	padding: 2px; height: 156px; width: 156px; }

aside {	background-color: #FFFBE4; border: 1px solid #C9BC8F; padding: 10px; float: right; width: 260px; }
aside h3 { font-size: 14px;	margin-top: 0; }
aside ol { font-size: 12px; }

.clear { clear: both; }

footer { font-size: 12px; text-align: center; }