.container {width: 960px; margin: 0 auto; padding: 10px; }


/* Utilização de colunas para organizar o layout */
p {
	column-count: 3;
	column-gap: 10px;
	column-rule: 1px solid #666;
	font-size: 0.9em;
	width: 500px;
}

/* Utilização do valor flex para organizar o layout */
.flexbox {
	display: flex;
	height: 60px;
	width: 300px;
}

.box {
	color: #FFF;
	display: block;
	flex: auto;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.one { background-color: #8820DD; }
.two { background-color: #2BB15A; }
.three { background-color: #755322; }
.four { background-color: #02A3A3; }
.five { background-color: #C6363D; }